{% extends 'musicspace_app/public_base.html' %}

{% block content %}
<div class="container-xxl py-5">
    <div class="row align-items-start">
        <div class="col-3">
            <form id="provider-search-filter" action="{% url 'musicspace:provider-list' %}" method="post">
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="in_person" id="in_person" checked>
                    <label class="form-check-label" for="in_person">
                        In Person
                    </label>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="provider-search-results" class="col">
            {% include "musicspace_app/components/provider_search_results.html" with page_of_providers=page_of_providers next_page_url=next_page_url%}
        </div>
    </div>
</div>
{% endblock %}