{% extends 'musicspace_app/public_base.html' %}

{% block content %}
<div class="container-xxl py-5">
    <div class="row align-items-start">
        <div class="col-3">
            <p>Provider List Sidebar</p>
        </div>
        <div class="col">
            <div class="row">
                <hr/>
            </div>
            {% for provider in providers %}
            <div class="row p-2">
                {% include "musicspace_app/components/provider_list_item.html" with provider=provider %}
            </div>
            <div class="row">
                <hr/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}